* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(autofill, minmax(320px, 1fr));
    grid-template-rows: 60px 50px 1fr;
    grid-template-areas:
    "header"
    "nav"
    "main";
}

.header {
    display: flex;
    align-items: center;
    color: white;
    background-color: #7477bf;
    padding: 5px 13px;
    justify-content: space-between;
    grid-area: header;
}

.user {
    float: right;
    display: flex;
    align-items: center;
    margin-top: 0px;
}

h1 {
    color: white;
    padding-left: 10px;
    margin-right: auto;
}

h3 {
  font-size: 16px;
}

.header img {
    border-radius: 50%;
    width: 2.5em;
    height: 2.2em;
    margin-right: 10px;
    margin-left: 10px;
}

.members img,
.activity img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
}

.bell {
    padding-right: 10px;
    width: 35px;
    height: 35px;
    justify-content: space-between;
}

.bell-wrapper {
    border-right: 1px solid #5d61bf;
}

.bell:hover {
  filter: drop-shadow(0px 0px 3px white);
  transition: .1s ease-in;
}

.header h1 {
    font-size: 16px;
}

.nav {
    background-color: #4d4c72;
    float: left;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: nav;
}

.icons-nav {
    height: 28px;
    width: 28px;
    margin-top: 10px;
}

.icons-nav:hover {
  filter: drop-shadow(0px 0px 1px white);
  transition: .05s ease-in;
}

.nav a {
    padding: 0px 16px;
    display: block;
}

.active-item {
    border-right: 0px solid #81c98f;
    border-top: 2px solid #81c98f;
}

.main {
  grid-area: main;
}

.dash-header {
    display: flex;
    justify-content: space-between;
}

.main-search {
    width: 65%;
    text-align: right;
    background-color: #fbfbfb;
    border: 1px solid #dfdfdf;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search {
    margin-right: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-style: none;
    padding: 0.5em;
    border: 1px solid #dfdfdf;
    width: 150px;
}

input {
  padding-right: 20px;
}

.headline {
    float: right;
    width: 50%;
    color: #8f8f8f;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 20px;
}

.alert {
    color: white;
    background-color: #7477bf;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 30px;
    border-radius: 5px;
    text-align: center;
}

#closeAlert {
    float: right;
    margin-top: -8px;
    padding: 0;
    font-size: 32px;
}

.close {
    cursor: pointer;
}

.close:hover {
    opacity: 0.5;
}

.alert span {
    font-weight: 700;
    margin-right: 0px;
    display: none;
}

.alert-messsage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: inline-block;
    margin-right: 25px;
    margin-top: 25px;
    margin-left: 25px;
}

.traffic {
    padding-left: 15px;
    border-bottom: 1px solid lightslategray;
}

.traffic-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 0px 0px;
}

.traffic-header h3 {
  margin: 8px 0px 0px 0px;
  color: #8f8f8f;
  font-weight: 700;
}

.social-container-text {
  margin: 15px 0px 15px 15px;
  color: #8f8f8f;
  font-weight: 700;
}

.message h3,
.settings h3,
.new-members,
.recent-activity {
  margin: 15px 0px 15px 0px;
  color: #8f8f8f;
  font-weight: 700;
}

.traffic-nav {
   display: flex;
   justify-content: space-between;
   font-size: 10px;
   font-weight: 900;
   list-style: none;
   margin-right: 10px;
}

.traffic-nav li {
    margin: auto 0;
    padding: 8px;
}

.traffic-nav-link {
    color: #8f8f8f;
}

.active {
    color: white;
    border-radius: 30px;
    background-color: #81c98f;
}

canvas {
    max-width: 100%;
}

.widget-container-half {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid lightslategray;
    margin: 0;
}

.second-chart,
.third-chart {
    padding: 15px;
}

.social-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    background-color: #fbfbfb;
}

.social-image {
  display: flex;
  background-color: #7477bf;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.social-image div {
  margin: 0px;
}

.social-image svg {
  width: 40px;
  height: 40px;
  margin: auto;
}

.social-text p {
    margin: 0;
}

.social-name {
    font-size: 20px;
    font-weight: bold;
    color:#7477bf;
}

.social-number {
    line-height: 50px;
    font-weight: 100;
    font-size: 40px;
    color: #666;
}

.date {
  font-weight: 300;
  text-align: right;
  flex-grow: 1;
}
.members img,
.activity img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
}

.settings,
.message,
.activity,
.members {
    padding: 15px;
}

.members-container,
 .activity-container {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e9e9e9;
    color: #666;
}

.members-container img,
.activity-container img {
    margin: auto 0;
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.members-text,
.activity-text {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    margin-left: 10px;
}

.members-text a,
.activity-time  {
    font-size: 13px;
    color: #898bc7;
    text-decoration: none;
}

.activity-container span {
    font-weight: 700;
    text-align: right;
    flex-grow: 1;
    content: '>';
    color: lightgrey;
    font-size: 25px;
    margin-left: 30px;
}

.form-area,
.form-field {
    padding: 20px;
    margin: 15px 0px 15px 0px;
    border-radius: 6px;
    border-style: none;
    font-weight: bold;
    color: black;
    background: #fbfbfb;
    width: 100%;
}

.form-timezone {
    padding: 20px;
    margin: 30px 0px 15px 0px;
    border-radius: 6px;
    border-style: none;
    font-weight: bold;
    color: black;
    background: #fbfbfb;
    width: 100%;
}

.widget-container {
    display: flex;
    flex-direction: column;
}

.settings-button {
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
}

#send {
    margin-left: 15px 0px 15px 0px;
    width: 100%;
    margin-bottom: 10px;
}

#send,
#save,
#cancel {
    height: 2em;
    border-radius: 5px;
    border: none;
    background-color: #7377bf;
    color: white;
    text-transform: uppercase;
}

#save,
#cancel {
    margin: 10px 0px 12px 0px;
    width: 42%;
}

#cancel {
    background-color: gray;
    margin-left: 0;
}

.switch-container label {
  display: flex;
  width: 350px;
  margin-bottom: 15px;
}

.switch-container strong {
  min-width: 250px;
  color: #666;
  font-weight: 700;
  margin-top: 6px;
  font-size: 14px;
}

.daily h3,
.mobile h3,
.social-container-text {
    margin: 15px;
    color: #8f8f8f;
    font-weight: 700;
}

.settings,
.message,
.members,
.activity {
  border-top: 1px solid lightslategray;
}
@media (min-width: 768px) {
      .social {
        display: flex;
        flex-basis: auto;
        justify-content: space-between;
      }

      .social div {
        margin-left: 15px;
        margin-right: 15px;
      }
}

@media (min-width: 1024px) {
  .grid-container {
        grid-template-columns: 80px 1fr;
        grid-template-rows: 60px 1fr;
        grid-template-areas:
        "header header"
        "nav main";
    }

    .nav {
        flex-direction: column;
        justify-content: flex-start;
        min-height: 100vh;
    }

    .nav a {
        padding: 0px 16px;
        display: block;
    }

    .active-item {
        border-top: 0px solid #81c98f;
        border-left: 3px solid #81c98f;
    }

    .icons-nav {
        margin-bottom: 15px;
        margin-top: 35px;
        height: 32px;
        width: 32px;
    }

    .search {
        width: 400px;
    }

    .main-search {
        width: 100%;
    }

    .headline {
        float: right;
        width: 30%;
        color: #8f8f8f;
        text-align: center;
        margin-top: 15px;
        padding-bottom: 20px;
    }

    .alert {
        color: white;
        background-color: #7477bf;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 30px;
        border-radius: 5px;
        text-align: justify;
    }


    .alert span {
        font-weight: 700;
        margin-right: 0px;
        display: inline-block;
    }

    .alert-messsage {
        display: flex;
        align-items: center;
        justify-content: space-between;
        display: inline-block;
        margin-right: 25px;
        margin-top: 25px;
        margin-left: 25px;
    }

    .widget-container-full {
      width: 90vw;
      margin: 0 auto;
    }

    .widget-container-half {
        width: 50%;
        display: inline-block;
        border-right: 1px solid lightslategray;
        margin-right: -4px;
    }

    .no-border {
      border-right: none;
    }

    .social-container {
        grid-template-columns: repeat(3, 1fr);
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
    }

    .social-name,
    .social-number {
        text-align: left;
        padding-left: 0px;
        margin-right: 10px;
    }

    .social-image {
      flex-basis: auto;
    }

    .members {
        border-right: 1px solid lightslategray;
        border-bottom: 1px solid lightslategray;
        border-top: 1px solid lightslategray;
        width: 50%;
    }

    .activity {
      width: 50%;
      border-top: 1px solid lightslategray;
      border-bottom: 1px solid lightslategray;
    }

    .settings {
      width: 50%;
      border: none;
    }

    .message {
      width: 50%;
      border-right: 1px solid lightslategray;
      border-top: none;
    }

    .bottom-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

}
